@import "../global/mixins";
@import "../global/variables";

.about {
  @include grid(1fr 290px 1fr);

  grid-template-rows: repeat(auto-fit, minmax(81px, auto) minmax(29px, auto) minmax(187px, auto) minmax(29px, auto));
  padding: 420px 0 21px;
  background-position: left 20px;
  background-repeat: no-repeat;
  background-image:
    image-set(
      url("../img/about-mob@2x.webp") type("image/webp") 2x,
      url("../img/about-mob@1x.webp") type("image/webp") 1x,
      url("../img/about-mob@2x.png") type("image/png") 2x,
      url("../img/about-mob@1x.png") type("image/png") 1x
    );

  @media (min-width: $tab) {
    grid-template-columns: 1fr 270px 1fr;
    grid-template-rows: repeat(auto-fit, minmax(93px, auto) minmax(29px, auto) minmax(269px, auto) minmax(29px, auto));
    padding: 40px 48px 42px 450px;
    background-position: left 174px;
    background-repeat: no-repeat;
    background-image:
      image-set(
        url("../img/about-tab@2x.webp") type("image/webp") 2x,
        url("../img/about-tab@1x.webp") type("image/webp") 1x,
        url("../img/about-tab@2x.png") type("image/png") 2x,
        url("../img/about-tab@1x.png") type("image/png") 1x
      );
  }

  @media (min-width: $desk) {
    grid-template-columns: 1fr 660px 1fr;
    grid-template-rows: repeat(auto-fit, minmax(173px, auto) minmax(37px, auto) minmax(117px, auto) minmax(37px, auto));
    padding: 66px 120px 180px 660px;
    background-position: left 100px;
    background-repeat: no-repeat;
    background-image:
      image-set(
        url("../img/about-desk@2x.webp") type("image/webp") 2x,
        url("../img/about-desk@1x.webp") type("image/webp") 1x,
        url("../img/about-desk@2x.png") type("image/png") 2x,
        url("../img/about-desk@1x.png") type("image/png") 1x
      );
  }
}

.about__title {
  grid-area: 1/2/2/3;
  margin: 17px 0 0;

  @media (min-width: $tab) {
    margin: 20px 0 0;
  }

  @media (min-width: $desk) {
    margin: 79px 0 0;
  }
}

.about__headline {
  grid-area: 1/2/2/3;
  margin: 3px 0 0;

  @media (min-width: $tab) {
    margin: 5px 0 0;
  }

  @media (min-width: $desk) {
    margin: 40px 0 0;
  }
}

.about h3 {
  grid-column: 2/3;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;

  @media (min-width: $tab) {
    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $desk) {
    font-size: 21px;
    line-height: 21px;
  }
}

.about p {
  grid-column: 2/3;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  @media (min-width: $tab) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desk) {
    padding: 0 60px 0 0;
    font-size: 14px;
    line-height: 22px;
  }
}
