@import "../global/mixins";
@import "../global/variables";

.gallery {
  @include grid(1fr 320px 1fr);

  padding: 0 0 3px;
  overflow: hidden;

  @media (min-width: $tab) {
    grid-template-columns: 1fr 768px 1fr;
  }

  @media (min-width: $desk) {
    grid-template-columns: 1fr 1440px 1fr;
  }
}

.gallery__title {
  grid-area: 1/2/2/3;
  width: 290px;
  margin: 37px auto 26px;

  @media (min-width: $tab) {
    width: 678px;
    margin: 60px auto 30px;
  }

  @media (min-width: $desk) {
    width: 1200px;
    margin: 123px auto 24px;
  }
}

.gallery__headline {
  grid-area: 1/2/2/3;
  width: 290px;
  margin: 23px auto 0;

  @media (min-width: $tab) {
    width: 678px;
    margin: 45px auto 0;
  }

  @media (min-width: $desk) {
    width: 1200px;
    margin: 106px auto 0;
  }
}

.gallery p {
  grid-area: 2/2/3/3;
  width: 290px;
  margin: 0 auto 31px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;

  @media (min-width: $tab) {
    width: 678px;
    margin: 0 auto 21px;
    padding: 0 270px 0 0;
    font-size: 14px;
    line-height: 22px;
  }

  @media (min-width: $desk) {
    width: 1200px;
    margin: 0 auto 45px;
    padding: 0 540px 0 0;
    font-size: 16px;
    line-height: 24px;
  }
}

.gallery span {
  white-space: nowrap;
}

.gallery__container {
  grid-area: 3/1/4/4;

  @media (min-width: $desk) {
    @include flex;
  }
}

.gallery__slide:nth-of-type(2n + 1) {
  width: 158px;
  height: 266px;
  overflow: hidden;

  @media (min-width: $tab) {
    width: 253px;
    height: 418px;
  }

  @media (min-width: $desk) {
    width: 284px;
    height: 463px;
  }
}

.gallery__slide:nth-of-type(2n) {
  @include grid;

  grid-template-rows: 134px 1fr;
  gap: 7px;
  width: 157px;
  height: 266px;
  overflow: hidden;

  @media (min-width: $tab) {
    grid-template-rows: 209px 1fr;
    width: 252px;
    height: 418px;
  }

  @media (min-width: $desk) {
    grid-template-rows: 233px 1fr;
    width: 284px;
    height: 463px;
  }
}

.gallery .gallery__slide--invisible {
  display: none;
}

.gallery__image--rope {
  height: 266px;
  object-fit: cover;

  @media (min-width: $tab) {
    height: auto;
    object-fit: contain;
  }
}

.gallery__image--snow {
  height: 134px;
  object-fit: cover;

  @media (min-width: $tab) {
    width: 252px;
    height: 210px;
  }

  @media (min-width: $desk) {
    width: 284px;
    height: auto;
    object-fit: contain;
  }
}

.gallery__image--tent {
  height: 125px;
  object-fit: cover;

  @media (min-width: $tab) {
    width: 252px;
    height: 202px;
  }

  @media (min-width: $desk) {
    width: 284px;
    height: auto;
    object-fit: contain;
  }
}

.gallery__image--campfire {
  height: 266px;
  object-fit: cover;

  @media (min-width: $tab) {
    width: 253px;
    height: 418px;
  }

  @media (min-width: $desk) {
    width: 284px;
    height: auto;
    object-fit: contain;
  }
}

.gallery__button {
  @include btn;

  display: none;
  width: 37px;
  height: 35px;

  @media (min-width: $tab) {
    grid-area: 2/2/3/3;
    display: block;
    z-index: 1;
  }

  @media (min-width: $desk) {
    display: none;
  }
}

.gallery__button--prev {
  @media (min-width: $tab) {
    margin: 31px 86px 0 auto;
  }
}

.gallery__button--next {
  @media (min-width: $tab) {
    margin: 31px 45px 0 auto;
  }
}

.gallery__button::before {
  @media (min-width: $tab) {
    @include pseudo;

    position: relative;
    width: 20px;
    height: 9px;
    background-color: $light;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
  }
}

.gallery__button--prev::before {
  @media (min-width: $tab) {
    top: 0.5px;
    left: 1px;
    mask-image: url("/__spritemap#sprite-arrow-view");
    transform: rotate(180deg);
  }
}

.gallery__button--next::before {
  @media (min-width: $tab) {
    top: 0.5px;
    left: 2px;
    mask-image: url("/__spritemap#sprite-arrow-view");
  }
}

.gallery__button:hover::before {
  background-color: $dark-bright;
}

.gallery__button:focus::before {
  background-color: $dark-bright;
}

.gallery__button:active::before {
  background-color: $light;
}

.gallery__button:disabled::before,
.gallery__button--disabled::before {
  background-color: $light;
}
