@import "../global/fonts";
@import "../global/variables";

.page {
  height: 100%;
}

.page__body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  color: $main;
  background-color: $light;
  min-width: $mob;
  max-width: 100%;
  min-height: 100%;
  margin: 0 auto;
  overflow-x: hidden;

  @media (min-width: $tab) {
    min-width: $tab;
  }

  @media (min-width: $desk) {
    min-width: $desk;
  }
}

.page__main {
  width: 100%;
  background-position: right 578px;
  background-repeat: no-repeat;
  background-image:
    image-set(
      url("../img/clouds-1-mob@2x.webp") type("image/webp") 2x,
      url("../img/clouds-1-mob@1x.webp") type("image/webp") 1x,
      url("../img/clouds-1-mob@2x.jpg") type("image/jpg") 2x,
      url("../img/clouds-1-mob@1x.jpg") type("image/jpg") 1x
    );

  @media (min-width: $tab) {
    background-position: right 2282px, right 942px, left 4144px, right 4643px;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-image:
      image-set(
        url("../img/clouds-2-tab@2x.webp") type("image/webp") 2x,
        url("../img/clouds-2-tab@1x.webp") type("image/webp") 1x,
        url("../img/clouds-2-tab@2x.jpg") type("image/jpg") 2x,
        url("../img/clouds-2-tab@1x.jpg") type("image/jpg") 1x
      ),
      image-set(
        url("../img/clouds-1-tab@2x.webp") type("image/webp") 2x,
        url("../img/clouds-1-tab@1x.webp") type("image/webp") 1x,
        url("../img/clouds-1-tab@2x.jpg") type("image/jpg") 2x,
        url("../img/clouds-1-tab@1x.jpg") type("image/jpg") 1x
      ),
      image-set(
        url("../img/clouds-3-tab@2x.webp") type("image/webp") 2x,
        url("../img/clouds-3-tab@1x.webp") type("image/webp") 1x,
        url("../img/clouds-3-tab@2x.jpg") type("image/jpg") 2x,
        url("../img/clouds-3-tab@1x.jpg") type("image/jpg") 1x
      ),
      image-set(
        url("../img/clouds-4-tab@2x.webp") type("image/webp") 2x,
        url("../img/clouds-4-tab@1x.webp") type("image/webp") 1x,
        url("../img/clouds-4-tab@2x.jpg") type("image/jpg") 2x,
        url("../img/clouds-4-tab@1x.jpg") type("image/jpg") 1x
      );
  }

  @media (min-width: $desk) {
    background-position: right 674px, right 2226px, left 3516px, right 3701px;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-image:
      image-set(
        url("../img/clouds-1-desk@2x.webp") type("image/webp") 2x,
        url("../img/clouds-1-desk@1x.webp") type("image/webp") 1x,
        url("../img/clouds-1-desk@2x.jpg") type("image/jpg") 2x,
        url("../img/clouds-1-desk@1x.jpg") type("image/jpg") 1x
      ),
      image-set(
        url("../img/clouds-2-desk@2x.webp") type("image/webp") 2x,
        url("../img/clouds-2-desk@1x.webp") type("image/webp") 1x,
        url("../img/clouds-2-desk@2x.jpg") type("image/jpg") 2x,
        url("../img/clouds-2-desk@1x.jpg") type("image/jpg") 1x
      ),
      image-set(
        url("../img/clouds-3-desk@2x.webp") type("image/webp") 2x,
        url("../img/clouds-3-desk@1x.webp") type("image/webp") 1x,
        url("../img/clouds-3-desk@2x.jpg") type("image/jpg") 2x,
        url("../img/clouds-3-desk@1x.jpg") type("image/jpg") 1x
      ),
      image-set(
        url("../img/clouds-4-desk@2x.webp") type("image/webp") 2x,
        url("../img/clouds-4-desk@1x.webp") type("image/webp") 1x,
        url("../img/clouds-4-desk@2x.jpg") type("image/jpg") 2x,
        url("../img/clouds-4-desk@1x.jpg") type("image/jpg") 1x
      );
  }
}

.page__title {
  font-size: 22px;
  font-weight: 800;
  line-height: 22px;

  @media (min-width: $tab) {
    font-size: 25px;
    line-height: 25px;
  }

  @media (min-width: $desk) {
    font-size: 35px;
    line-height: 100%;
  }
}

.page__headline {
  font-size: 26px;
  font-weight: 800;
  line-height: 26px;
  opacity: 0.03;

  @media (min-width: $tab) {
    font-size: 40px;
    line-height: 40px;
  }

  @media (min-width: $desk) {
    font-size: 55px;
    line-height: 55px;
  }
}
