@import "../global/mixins";
@import "../global/variables";

.tours {
  @include grid(1fr 290px 1fr);
  grid-template-rows: repeat(auto-fit, minmax(55px, auto) minmax(416px, auto) minmax(34px, auto));
  gap: 20px 0;
  margin: 0 auto;
  padding: 20px 0;
  overflow: hidden;

  @media (min-width: $tab) {
    padding: 40px 0;
  }

  @media (min-width: $desk) {
    gap: 42px;
    padding: 100px 0;
  }
}

.tours__button,
.tours__title,
.tours__headline {
  grid-area: 1/2/2/3;
}

.tours__title {
  margin: 19px 0 19px;

  @media (min-width: $tab) {
    margin: 30px 0 5px;
    padding: 0 200px 0 0;
  }

  @media (min-width: $desk) {
    margin: 23px 0 8px;
  }
}

.tours__headline {
  margin: 3px 0 0;

  @media (min-width: $tab) {
    margin: 5px 0 0;
    padding: 0 200px 0 0;
  }

  @media (min-width: $desk) {
    margin: 6px 0 0;
  }
}

.tours__slider {
  grid-area: 2/2/3/3;
}

.tours__button {
  @include btn;
  display: none;
  width: 37px;
  height: 35px;

  @media (min-width: $tab) {
    display: block;
    z-index: 1;
  }
}

.tours__button--prev {
  @media (min-width: $tab) {
    margin: 20px 41px 0 auto;
  }

  @media (min-width: $desk) {
    margin: 20px 41px 0 auto;
  }
}

.tours__button--next {
  @media (min-width: $tab) {
    margin: 20px 0 0 auto;
  }

  @media (min-width: $desk) {
    margin: 20px 0 0 auto;
  }
}

.tours__button::before {
  @media (min-width: $tab) {
    @include pseudo;
    position: relative;
    width: 20px;
    height: 9px;
    background-color: var(--light);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
  }
}

.tours__button--prev::before {
  @media (min-width: $tab) {
    left: 1px;
    mask-image: url("/__spritemap#sprite-arrow-view");
    transform: rotate(180deg);
  }
}

.tours__button--next::before {
  @media (min-width: $tab) {
    left: 2px;
    mask-image: url("/__spritemap#sprite-arrow-view");
  }
}

.tours__button:hover::before {
  background-color: var(--dark-bright);
}

.tours__button:focus::before {
  background-color: var(--dark-bright);
}

.tours__button:active::before {
  background-color: var(--light);
}

.tours__button:disabled::before,
.tours__button--disabled::before {
  background-color: var(--light);
}

.tours__link {
  @include flex;
  grid-area: 3/2/4/3;
  gap: 10.3px;
  margin: 5px auto 0;
  padding: 10px 30px 10px 33.5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  color: var(--main);

  @media (min-width: $tab) {
    padding: 11px 30px 11px 33.5px;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.64px;
  }

  @media (min-width: $desk) {
    padding: 17px 30px 17px 33.5px;
  }
}

.tours__link::after {
  @include pseudo;

  width: 12px;
  height: 14px;
  position: relative;
  background-color: var(--main);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  mask-image: url("/__spritemap#sprite-half-arrow-view");
}

.tours__link:hover {
  color: var(--bright-trans-10);
}

.tours__link:focus {
  color: var(--bright);
}

.tours__link:active {
  color: var(--dark-bright);
}

.tours__link:disabled,
.tours__link--disabled,
.tours__link:not([href]) {
  color: var(--stormy);
}

.tours__link:hover::after {
  background-color: var(--bright-trans-10);
}

.tours__link:focus::after {
  background-color: var(--bright);
}

.tours__link:active::after {
  background-color: var(--dark-bright);
}

.tours__link:disabled::after,
.tours__link--disabled::after,
.tours__link:not([href])::after {
  background-color: var(--stormy);
}
