@import "../global/mixins";
@import "../global/variables";

.training {
  @include grid(1fr 290px 1fr);

  padding: 0 0 20px;

  @media (min-width: $tab) {
    grid-template-columns: 1fr 678px 1fr;
  }

  @media (min-width: $desk) {
    grid-template-columns: 1fr 1200px 1fr;
  }
}

.training__title {
  grid-area: 1/2/2/3;
  margin: 37px 0 33px;

  @media (min-width: $tab) {
    margin: 68px 0 24px;
  }

  @media (min-width: $desk) {
    margin: 54.5px 0 32px;
  }
}

.training__headline {
  grid-area: 1/2/2/3;
  margin: 20px 0 0;

  @media (min-width: $tab) {
    margin: 43px 0 0;
  }

  @media (min-width: $desk) {
    margin: 38px 0 0;
  }
}

.training > p {
  grid-area: 2/2/3/3;
  margin: 0 0 7px;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tab) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desk) {
    padding: 0 340px 0 0;
  }
}

.training__slider {
  @include grid(1fr 290px 1fr);

  grid-area: 3/1/4/4;

  @media (min-width: $tab) {
    grid-template-columns: 1fr 678px 1fr;
  }

  @media (min-width: $desk) {
    grid-template-columns: 1fr 1200px 1fr;
  }
}

.training__slider-title {
  grid-area: 1/2/2/3;

  @media (min-width: $tab) {
    margin: 23px 0 37px;
  }

  @media (min-width: $desk) {
    margin: 55px 0 16px;
  }
}

.training__button {
  @include btn;

  display: none;
  width: 37px;
  height: 35px;

  @media (min-width: $tab) {
    grid-area: 1/2/2/3;
    display: block;
    z-index: 1;
  }
}

.training__button--prev {
  @media (min-width: $tab) {
    margin: 20px calc((100vw - 596px) / 2) 0 auto;
  }

  @media (min-width: $desk) {
    margin: 51px calc((100vw - 1118px) / 2) 0 auto;
  }
}

.training__button--next {
  @media (min-width: $tab) {
    margin: 20px calc((100vw - 678px) / 2) 0 auto;
  }

  @media (min-width: $desk) {
    margin: 51px calc((100vw - 1200px) / 2) 0 auto;
  }
}

.training__button::before {
  @media (min-width: $tab) {
    @include pseudo;

    position: relative;
    width: 20px;
    height: 9px;
    background-color: var(--light);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
  }
}

.training__button--prev::before {
  @media (min-width: $tab) {
    left: 1px;
    mask-image: url("/__spritemap#sprite-arrow-view");
    transform: rotate(180deg);
  }
}

.training__button--next::before {
  @media (min-width: $tab) {
    left: 2px;
    mask-image: url("/__spritemap#sprite-arrow-view");
  }
}

.training__button:hover::before {
  background-color: var(--dark-bright);
}

.training__button:focus::before {
  background-color: var(--dark-bright);
}

.training__button:active::before {
  background-color: var(--light);
}

.training__button:disabled::before,
.training__button--disabled::before {
  background-color: var(--light);
}

.training__container {
  @include flex;
  grid-area: 2/2/3/3;
  gap: 20px 0;
}

.training__instructor {
  @include grid;
  grid-template-rows: repeat(auto-fit, minmax(215px, auto) minmax(47px, auto) minmax(64px, auto));
  align-items: start;
  width: 290px;
  min-height: 356px;
  padding: 14px;
  border: 1px solid var(--bright-trans-10);
  overflow: auto;

  @media (min-width: $tab) {
    grid-template-rows: repeat(auto-fit, minmax(215px, auto) minmax(47px, auto) minmax(96px, auto));
    width: 212.6px;
  }

  @media (min-width: $desk) {
    grid-template-rows: repeat(auto-fit, minmax(215px, auto) minmax(47px, auto) minmax(63px, auto));
    width: 285px;
  }
}

.training__picture {
  grid-area: 1/1/2/2;
  overflow: hidden;
}

.training__image {
  display: block;
}

.training__image--second {
  object-fit: cover;
  height: 200px;

  @media (min-width: $tab) {
    max-width: fit-content;
    height: 200px;
  }
}

.training__image--fourth {
  object-fit: cover;
  height: 200px;
}

.training__image--fifth {
  object-fit: cover;
  height: 200px;
}

.training__name {
  grid-area: 2/1/3/2;
  margin: 1px 0 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.training__social {
  grid-area: 2/1/3/2;
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 0 0 auto;
  border: 1px solid var(--main-trans-30);
}

.training__social::before {
  @include pseudo;

  position: relative;
  top: 7px;
  left: 4px;
  width: 14px;
  height: 8px;
  background-color: var(--main);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  mask-image: url("/__spritemap#sprite-training-vk-view");
}

.training__social:hover {
  border: 1px solid var(--main);
}

.training__social:focus {
  border: 1px solid transparent;
}

.training__social:active {
  border: 1px solid var(--bright);
  background-color: var(--bright);
}

.training__social:disabled,
.training__social--disabled,
.training__social:not([href]) {
  border: 1px solid var(--main-trans-30);
  cursor: default;
}

.training__social:hover::before {
  background-color: var(--main);
}

.training__social:focus::before {
  background-color: var(--main);
}

.training__social:active::before {
  background-color: var(--light);
}

.training__social:disabled::before,
.training__social--disabled::before,
.training__social:not([href])::before {
  background-color: var(--main-trans-30);
}

.training__instructor p {
  grid-area: 3/1/4/2;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}

.training__subtitle {
  grid-area: 4/2/5/3;
  margin: 26px 0 23px;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;

  @media (min-width: $tab) {
    margin: 27px 0 23px;
    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $desk) {
    margin: 58px 0 10px;
    font-size: 21px;
    line-height: 21px;
  }
}

.training__list {
  @include reset;
  @include grid(2px 1fr);
  grid-area: 5/2/6/3;
  margin: 0 0 0 6px;

  @media (min-width: $tab) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 74px 8px;
    margin: 0;
    grid-auto-flow: dense;
  }

  @media (min-width: $desk) {
    position: relative;
    grid-template-columns: 245px 247px 244px 245px 1fr;
    grid-template-rows: minmax(97.9px, auto);
    gap: 0 8px;
    border-bottom: 2px solid var(--bright);
  }
}

.training__list::before {
  @include pseudo;
  position: relative;
  top: -6px;
  grid-area: 2/1/8/2;
  align-self: start;
  width: 2px;
  height: 101%;
  background-color: var(--bright);

  @media (min-width: $tab) {
    display: none;
  }

  @media (min-width: $desk) {
    position: absolute;
    display: block;
    grid-area: none;
    top: auto;
    width: 20px;
    bottom: -4px;
    height: 6px;
    background-color: var(--light);
  }
}

.training__item {
  @include flex;
  position: relative;
  margin: 0 0 25px;
  padding: 0 28px 0 55px;
  font-size: 12px;
  line-height: 18px;

  @media (min-width: $tab) {
    margin: 0;
    padding: 17px 85px 0 45px;
    font-size: 14px;
    line-height: 22px;
  }

  @media (min-width: $desk) {
    padding: 17px 0 0 45px;
    font-size: 16px;
    line-height: 24px;
  }
}

.training__item--map {
  grid-area: 1/2/3/3;

  @media (min-width: $tab) {
    grid-area: auto;
  }
}

.training__item--boots {
  grid-area: 3/2/5/3;

  @media (min-width: $tab) {
    grid-area: auto;
  }
}

.training__item--pine-tree {
  grid-area: 5/2/7/3;

  @media (min-width: $tab) {
    grid-area: auto;
    grid-column: 2/3;
    padding: 17px 85px 0 44px;
  }

  @media (min-width: $desk) {
    grid-column: auto;
    padding: 17px 0 0 44px;
  }
}

.training__item--mountain {
  grid-area: 7/2/9/3;

  @media (min-width: $tab) {
    grid-area: auto;
  }
}

.training__item:last-child {
  margin: 0;
}

.training__item::before {
  @include pseudo;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.training__item--map::before {
  top: 1px;
  left: 21px;
  width: 25px;
  height: 25px;
  background-image: url("/__spritemap#sprite-map-view");

  @media (min-width: $tab) {
    top: 19px;
    left: 10px;
  }
}

.training__item--boots::before {
  top: 1px;
  left: 20px;
  width: 27px;
  height: 25px;
  background-image: url("/__spritemap#sprite-boots-view");

  @media (min-width: $tab) {
    top: 19px;
    left: 11px;
    width: 24px;
    height: 24px;
  }
}

.training__item--pine-tree::before {
  top: 1px;
  left: 21px;
  width: 25px;
  height: 25px;
  background-image: url("/__spritemap#sprite-pine-tree-view");

  @media (min-width: $tab) {
    top: 19px;
    left: 10px;
    height: 23px;
  }

  @media (min-width: $desk) {
    top: 19px;
    left: 9px;
    height: 25px;
  }
}

.training__item--mountain::before {
  top: 1px;
  left: 21px;
  width: 25px;
  height: 25px;
  background-image: url("/__spritemap#sprite-mountain-view");

  @media (min-width: $tab) {
    top: 19px;
    left: 10px;
  }
}

.training__item::after {
  @include pseudo;

  position: absolute;
  transform: translate(-50%, -51%);
  top: 52%;
  left: -1px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--bright);

  @media (min-width: $tab) {
    display: none;
  }

  @media (min-width: $desk) {
    display: block;
    top: auto;
    bottom: -15px;
    left: 27.4px;
  }
}

.training__item--pine-tree::after {
  left: 6.4px;
}
