@mixin font($font_name, $file_name, $weight: 400, $style: normal) {
  @font-face {
    font-family: #{$font_name};
    font-style: #{$style};
    font-weight: #{$weight};
    src: url("../fonts/#{to-lower-case($file_name)}.ttf") format("truetype");
    font-display: swap;
  }
}

@mixin reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin pseudo($content: "", $display: block) {
  content: $content;
  display: $display;
}

@mixin flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@mixin grid($first-column: 1fr, $second-column: null, $third-column: null, $fourth-column: null, $fifth-column: null, $sixth-column: null, $seventh-column: null, $eighth-column: null, $nineth-column: null, $tenth-column: null) {
  display: grid;
  grid-template-columns: $first-column, $second-column, $third-column, $fourth-column, $fifth-column, $sixth-column, $seventh-column, $eighth-column, $nineth-column, $tenth-column;
}

@mixin size($font-size: 12px, $line-height: 12px, $font-weight: 400) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: #{$font-weight};
}

@mixin btn($color: var(--light), $bg-color: var(--bright), $hover-color: var(--dark-bright), $hover-bg-color: var(--light), $focus-color: var(--dark-bright), $focus-bg-color: var(--light), $active-color: var(--light), $active-bg-color: var(--dark-bright), $disabled-color: var(--light), $disabled-bg-color: var(--stormy)) {
  border: 1px solid transparent;
  color: $color;
  background-color: $bg-color;
  word-break: break-all;
  cursor: pointer;

  &:hover {
    color: $hover-color;
    background-color: $hover-bg-color;
    border: 1px solid var(--dark-bright);
  }

  &:focus {
    color: $focus-color;
    background-color: $focus-bg-color;
  }

  &:active {
    color: $active-color;
    background-color: $active-bg-color;
  }

  &:disabled,
  &--disabled {
    color: $disabled-color;
    background-color: $disabled-bg-color;
    border: 1px solid var(--stormy);
    cursor: default;
  }
}

// &:not([href]) {
//   background-color: ;
// }
