:root {
  // Colors

  // Alt color names
  --main: var(--blue-dark);
  --common: var(--blue-light);
  --casual: var(--blue);
  --light: var(--white);
  --bright: var(--red);
  --rare: var(--black);
  --rarest: var(--grey-lighter);
  --cloudy: var(--grey);
  --muddy: var(--grey-light);
  --alert: var(--red-bright);
  --stormy: var(--light-grey);
  --uncommon: var(--blue-4);

  // Transparent colors

}
