$mob: 320px;
$tab: 768px;
$desk: 1440px;

:root {
  --main: #2d383f;
  --light: #ffffff;
  --bright: #0266c1;
  --malevich: #000000;
  --alert: #ff121f;
  --dark-bright: #1c3374;
  --cloudy: #d9d9d9;
  --stormy: #999999;

//Transparent colors
  --light-trans-20: rgba(255, 255, 255, 0.2);
  --light-trans-50: rgba(255, 255, 255, 0.5);
  --bright-trans-10: rgba(2, 102, 193, 0.1);
}
