$mob: 320px;
$tab: 768px;
$desk: 1440px;
$main: #2d383f;
$light: #ffffff;
$bright: #0266c1;
$malevich: #000000;
$alert: #ff121f;
$dark-bright: #1c3374;
$cloudy: #d9d9d9;
$stormy: #999999;

// --bg: #91c3ec;
$shadow: rgba(28, 51, 116, 0.1);
$main-trans-20: rgba(45, 56, 63, 0.2);
$main-trans-30: rgba(45, 56, 63, 0.3);
$main-trans-50: rgba(45, 56, 63, 0.5);
$light-trans-20: rgba(255, 255, 255, 0.2);
$light-trans-50: rgba(255, 255, 255, 0.5);
$bright-trans-10: rgba(2, 102, 193, 0.1);
$bright-trans-50: rgba(2, 102, 193, 0.5);
$stormy-trans-50: rgba(153, 153, 153, 0.5);
$malevich-trans-20: rgba(0, 0, 0, 0.2);
