$mob: 320px;
$tab: 768px;
$desk: 1440px;

:root {
  --main: #2d383f;
  --light: #ffffff;
  --bright: #0266c1;
  --malevich: #000000;
  --alert: #ff121f;
  --dark-bright: #1c3374;
  --stormy: #999999;
}
